<?xml version="1.0" encoding="utf-8"?>
<STBLXMLFile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<DefaultLanguage>0</DefaultLanguage>
	<STBLGroup>1064960001</STBLGroup>
	<STBLInstance>13055526262444111548</STBLInstance>
	<STBLName>NeonOcean.Main.STBL.System.{0:Underscored}</STBLName>
	<BuildIdentifiers>true</BuildIdentifiers>
	<IdentifiersGroup>1064960001</IdentifiersGroup>
	<IdentifiersInstance>16367368475433011969</IdentifiersInstance>
	<IdentifiersName>NeonOcean.Main.STBL.System.Identifiers</IdentifiersName>
	<Entries>
		<STBLXMLEntry>
			<Key>2688371308</Key>
			<Identifier>NeonOcean.Main.System.Debug.Write_Failure_Notification.Text</Identifier>
			<English>Failed to write a debug file, this problem may make error reporting impossible.

Error Information:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3872543869</Key>
			<Identifier>NeonOcean.Main.System.Debug.Write_Failure_Notification.Title</Identifier>
			<English>NeonOcean - Main:
Major Failure Detected</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1917080259</Key>
			<Identifier>NeonOcean.Main.System.Distribution.Promotions.Default.Button</Identifier>
			<English>View</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3437846422</Key>
			<Identifier>NeonOcean.Main.System.Distribution.Promotions.Default.Title</Identifier>
			<English>NeonOcean:</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>773790552</Key>
			<Identifier>NeonOcean.Main.System.Distribution.Update_Notification.Button</Identifier>
			<English>View update</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2579229694</Key>
			<Identifier>NeonOcean.Main.System.Distribution.Update_Notification.Preview_Text</Identifier>
			<English>The currently installed version of this mod has been superseded by a new one.

Version type: Preview
Version: {0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3249107168</Key>
			<Identifier>NeonOcean.Main.System.Distribution.Update_Notification.Release_Text</Identifier>
			<English>The currently installed version of this mod has been superseded by a new one.

Version type: Release
Version: {0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2521995782</Key>
			<Identifier>NeonOcean.Main.System.Distribution.Update_Notification.Title</Identifier>
			<English>{0.String}:
Update Available</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3112416682</Key>
			<Identifier>NeonOcean.Main.System.Generic_Dialogs.Open_Browser_Dialog.No_Button</Identifier>
			<English>No</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>428220524</Key>
			<Identifier>NeonOcean.Main.System.Generic_Dialogs.Open_Browser_Dialog.Text</Identifier>
			<English>This will open in an external browser. Would you like to proceed?&lt;br/&gt;&lt;br/&gt;</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>494723391</Key>
			<Identifier>NeonOcean.Main.System.Generic_Dialogs.Open_Browser_Dialog.Yes_Button</Identifier>
			<English>Yes</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2315556564</Key>
			<Identifier>NeonOcean.Main.System.Interactions.Global.Support_NeonOcean.Display_Name</Identifier>
			<English>Support NeonOcean</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2285617695</Key>
			<Identifier>NeonOcean.Main.System.Interactions.Global.Visit_NeonOcean_Site.Display_Name</Identifier>
			<English>Visit NeonOcean's website</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2206841189</Key>
			<Identifier>NeonOcean.Main.System.Interactions.Standard.Documentation.Display_Name</Identifier>
			<English>Documentation</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2387917909</Key>
			<Identifier>NeonOcean.Main.System.Interactions.Standard.Reset.Display_Name</Identifier>
			<English>Reset</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2023042510</Key>
			<Identifier>NeonOcean.Main.System.Interactions.Standard.Visit_Mod_Page.Display_Name</Identifier>
			<English>Visit mod page</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2020374594</Key>
			<Identifier>NeonOcean.Main.System.Interactions.Support.Dependent.Disabled_Tooltip</Identifier>
			<English>The mod '{0.String}' is not loaded.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2058627662</Key>
			<Identifier>NeonOcean.Main.System.Interaction_Categories.Main</Identifier>
			<English>Main</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2849037196</Key>
			<Identifier>NeonOcean.Main.System.Interaction_Categories.ModSettings</Identifier>
			<English>Mod Settings</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>294089445</Key>
			<Identifier>NeonOcean.Main.System.Interaction_Categories.NeonOcean</Identifier>
			<English>NeonOcean</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2090537172</Key>
			<Identifier>NeonOcean.Main.System.Loading.Compatibility_Notification.Text</Identifier>
			<English>Detected missing mods or incompatible mod versions. 

The following mods had to be disabled because of this:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3471017138</Key>
			<Identifier>NeonOcean.Main.System.Loading.Compatibility_Notification.Title</Identifier>
			<English>NeonOcean - Main:
Bad Mod Setup Detected</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1936521160</Key>
			<Identifier>NeonOcean.Main.System.Loading.Failure_Notification.Text</Identifier>
			<English>Some mods failed to load correctly.

The following mods had to be disabled because of this:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2393611005</Key>
			<Identifier>NeonOcean.Main.System.Loading.Failure_Notification.Title</Identifier>
			<English>NeonOcean - Main:
Major Failure Detected</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>514393927</Key>
			<Identifier>NeonOcean.Main.System.Loading.Not_Loaded_Notification.Text</Identifier>
			<English>A few mods were never loaded, even though they should have been.

The following mods are not loaded because of this:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>4204497415</Key>
			<Identifier>NeonOcean.Main.System.Loading.Not_Loaded_Notification.Title</Identifier>
			<English>NeonOcean - Main:
Mods Not Loaded</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1707525708</Key>
			<Identifier>NeonOcean.Main.System.Reset.Confirm_Dialog.Everything_Text</Identifier>
			<English>Are you sure you want to reset this mod?</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1903972557</Key>
			<Identifier>NeonOcean.Main.System.Reset.Confirm_Dialog.No_Button</Identifier>
			<English>No</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3665527182</Key>
			<Identifier>NeonOcean.Main.System.Reset.Confirm_Dialog.Settings_Text</Identifier>
			<English>Are you sure you want to reset all settings for this mod?</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>271565313</Key>
			<Identifier>NeonOcean.Main.System.Reset.Confirm_Dialog.Title</Identifier>
			<English>Resetting {0.String}...</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1778057160</Key>
			<Identifier>NeonOcean.Main.System.Reset.Confirm_Dialog.Yes_Button</Identifier>
			<English>Yes</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2222916378</Key>
			<Identifier>NeonOcean.Main.System.Reset.Dialog.Cancel_Button</Identifier>
			<English>Cancel</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3549731979</Key>
			<Identifier>NeonOcean.Main.System.Reset.Dialog.Everything_Button</Identifier>
			<English>Reset Everything</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>917916835</Key>
			<Identifier>NeonOcean.Main.System.Reset.Dialog.Settings_Button</Identifier>
			<English>Reset Settings</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>390686620</Key>
			<Identifier>NeonOcean.Main.System.Reset.Dialog.Text</Identifier>
			<English>What do you want to reset?</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1483791726</Key>
			<Identifier>NeonOcean.Main.System.Reset.Dialog.Title</Identifier>
			<English>Resetting {0.String}...</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1327250903</Key>
			<Identifier>NeonOcean.Main.System.Saving.Failure_Notifications.Load_Text</Identifier>
			<English>One or more mods at least partially failed to load their save game data. 

Offending saving identifiers:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>4201284989</Key>
			<Identifier>NeonOcean.Main.System.Saving.Failure_Notifications.Save_Text</Identifier>
			<English>One or more mods at least partially failed to write their save game data. 

Offending saving identifiers:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1319045633</Key>
			<Identifier>NeonOcean.Main.System.Saving.Failure_Notifications.Title</Identifier>
			<English>NeonOcean - Main:
Major Saving Failure Detected</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>4168885570</Key>
			<Identifier>NeonOcean.Main.System.Saving.Failure_Notifications.Unload_Text</Identifier>
			<English>One or more mods at least partially failed to unload their save game data. 

Offending saving identifiers:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>854024124</Key>
			<Identifier>NeonOcean.Main.System.Saving.Warning_Notifications.Mismatch_Text</Identifier>
			<English>One or more mods have loaded save data with an ID that does match the game's save data ID. This is probably not intentional, but if it is, this warning will likely not appear again if you save the game.

Offending saving identifiers:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2570050120</Key>
			<Identifier>NeonOcean.Main.System.Saving.Warning_Notifications.Title</Identifier>
			<English>NeonOcean - Main:
Saving Issue Detected</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>197274219</Key>
			<Identifier>NeonOcean.Main.System.Settings.Boolean.False</Identifier>
			<English>Disabled</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>994567696</Key>
			<Identifier>NeonOcean.Main.System.Settings.Boolean.True</Identifier>
			<English>Enabled</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3141814295</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Preview_Updates.Description</Identifier>
			<English>If a mod is enabled, preview updates will be reported along with release updates. The setting "Check For Updates" still needs to be enabled for the desired mod in order to check for updates.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3566942016</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Preview_Updates.Key_Template</Identifier>
			<English>{0.String} by {1.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2148260899</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Preview_Updates.Name</Identifier>
			<English>Check For Preview Updates</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1262353506</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Preview_Updates.Preset_Description</Identifier>
			<English>Select from two presets, preview update checking enabled for all mods or no mods. Alternatively you can change the settings for individual mods by going to 'Customize'. If a mod is enabled, preview updates will be reported along with release updates. The setting "Check For Updates" still needs to be enabled for the desired mod in order to check for updates.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1349066852</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Preview_Updates_Default.Description</Identifier>
			<English>Any newly added mods will take this value as their default in the setting Check For Preview Updates.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2095510909</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Preview_Updates_Default.Name</Identifier>
			<English>Check For Preview Updates Default</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2844347258</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Updates.Description</Identifier>
			<English>If a mod is enabled, a notification will be shown whenever an update is available.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2735491881</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Updates.Key_Template</Identifier>
			<English>{0.String} by {1.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3185005146</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Updates.Name</Identifier>
			<English>Check For Updates</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2903611308</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Updates.Preset_Description</Identifier>
			<English>Select from two presets, update checking enabled for all mods or no mods. Alternatively you can change the settings for individual mods by going to 'Customize'. If a mod is enabled, a notification will be shown whenever an update is available.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>4291028098</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Updates_Default.Description</Identifier>
			<English>Any newly added mods will take this value as their default in the setting Check For Updates.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2747867135</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Check_For_Updates_Default.Name</Identifier>
			<English>Check For Updates Default</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2809387772</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Show_Promotions.Description</Identifier>
			<English>If enabled, Main may occasionally show a notification to promote things like new mods or major updates. All promotions will only ever be shown once.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3574582702</Key>
			<Identifier>NeonOcean.Main.System.Settings.Values.Show_Promotions.Name</Identifier>
			<English>Show Promotions</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2004428869</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Apply_Button</Identifier>
			<English>Apply</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2964364247</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Back_Button</Identifier>
			<English>Back</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2819215232</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Cancel_Button</Identifier>
			<English>Cancel</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>245309827</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Check_Updates.All_Mods_Enabled_Button</Identifier>
			<English>All mods enabled</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2153475200</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Check_Updates.No_Mods_Enabled_Button</Identifier>
			<English>No mods enabled</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3827548930</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Choice_Button</Identifier>
			<English>{0.String}{1.String}{2.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2834896300</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Invalid_Input_Notification.Text</Identifier>
			<English>"{0.String}" is an invalid input for this setting.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>4195495932</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Invalid_Input_Notification.Title</Identifier>
			<English>NeonOcean - {0.String}:</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1107030220</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Preset.Customize_Button</Identifier>
			<English>Customize</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2193273209</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Preset.Text_Documentation_Template</Identifier>
			<English>{0.String}

&lt;a href="event:{2.String}"&gt;&lt;u&gt;View Documentation&lt;/u&gt;&lt;/a&gt;

</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2022071340</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Preset.Text_Template</Identifier>
			<English>{0.String}



</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>357110736</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Preset_Confirm_Dialog.No_Button</Identifier>
			<English>No</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1848052005</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Preset_Confirm_Dialog.Text</Identifier>
			<English>Are you sure you want to change this setting to this preset?</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3653191099</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Preset_Confirm_Dialog.Title</Identifier>
			<English>Confirm Preset</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>665033797</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Preset_Confirm_Dialog.Yes_Button</Identifier>
			<English>Yes</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1454626666</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Standard.Text_Documentation_Template</Identifier>
			<English>{0.String}

Default:
{1.String}

&lt;a href="event:{2.String}"&gt;&lt;u&gt;View Documentation&lt;/u&gt;&lt;/a&gt;

</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>120805506</Key>
			<Identifier>NeonOcean.Main.System.Setting_Dialogs.Standard.Text_Template</Identifier>
			<English>{0.String}

Default:
{1.String}

</English>
		</STBLXMLEntry>
	</Entries>
</STBLXMLFile>